@import '../../../styles/variables';

.footer-container {
  // background: white;
  // padding: 60px 20px 30px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  // background-color: #cbc9c9 !important;
  background-color: rgba($secondary-color, 0.3);
  border-radius: 20px;
  padding: 50px 40px 30px;
  // max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo {

  .logo-img {
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.footer-nav {
  width: 100%;

  .nav-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px 30px;
    a{ color: $secondary-color; transition: $transition ; -webkit-transition: $transition ; -moz-transition: $transition ; -ms-transition: $transition ; -o-transition: $transition ; }

    .nav-link {
      color: $secondary-color;
      text-decoration: none;
      font-weight: 400;
      transition: $transition ; -webkit-transition: $transition ; -moz-transition: $transition ; -ms-transition: $transition ; -o-transition: $transition ;
      cursor: pointer;

      &:hover ,&:hover a{
        color: $primary-color;
        text-decoration: none;
      }
    }
  }
}



.footer-copyright {
  p {
    color: $secondary-color;
    font-size: 14px;
    margin: 0;

    .copyright-brand {
      font-weight: 600;
    }
  }
}

// Responsive Design
@media (max-width: 768px) {
  .footer-content {
    padding: 40px 20px 25px;
    border-radius: 15px;
  }

  .footer-logo .logo-img {
    max-width: 180px;
  }

  .footer-nav .nav-row {
    gap: 15px 20px;

    // .nav-link {
    //   font-size: 14px;
    // }
  }




}
