<!-- Show page loader during initial load (without nav/footer) -->
<app-page-loader *ngIf="isInitialLoad"></app-page-loader>

<!-- Show nav, footer, and router outlet after initial load -->
<ng-container *ngIf="!isInitialLoad">
  <app-nav></app-nav>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</ng-container>

<!-- Global spinner for HTTP requests -->
<ngx-spinner
  bdColor="#3A95DD"
  size="medium"
  color="red"
  class="textMainColor w-full"
  type="square-jelly-box"
  [fullScreen]="true"
>
  <figure>
    <img src="../assets/image/small plane.gif" alt="loader gif" />
  </figure>
  <!-- <p class="text-capitalize text-center textMainColor fs-2">Loading...</p> -->
</ngx-spinner>
